@charset "UTF-8";

@font-face {
    font-family: 'FreeUniversal';
    src: url('../fonts/freeuniversal-regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FreeUniversal';
    src: url('../fonts/freeuniversal-bold.ttf');
    font-weight: bold;
    font-style: normal;
}

body {
	background-color: transparent;
	color: black;
	color: -cchip-cmyk(0.0, 0.0, 0.0, 1.0);
	font-family: FreeUniversal;
	font-size: 12pt;
}

p {
	text-align: justify;
}

b {
	font-weight: bold;
}

h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 5mm;
}

#title {
	font-weight: bold;
	font-size: 36pt;
	padding-bottom: 2mm;
	border-bottom: .5mm solid black;
	border-bottom: .5mm solid -cchip-cmyk(0.0, 0.0, 0.0, 1.0);
	margin-bottom: 5mm;
}

#title {
	-cchip-list-collector: "TOC";
}

#content {
}

div.hatnote {
	display: none;
}

table.infobox {
	float: right;
	margin-left: 5mm;
	border: .5mm solid #6216af;
	border-collapse: collapse;

}

table.infobox th {
	background-color: #6216af !important;
	color: white;
}

table.infobox th a {
	color: white;
}

span.mw-editsection {
	display: none;
}

div.thumb.tright {
	float: left;
	margin-right: 5mm;
	margin-bottom: 5mm;
}

div.thumb.tright + p {
	clear: both;
}

table.navbox {
	display: none;
}











